# env
.env
**/.env

# node
node_modules/
**/node_modules/

# local-only docker files
docker-compose.yml
docker-compose.*.yml
Dockerfile
Dockerfile.*

# optional: local dumps / sql (ako želiš ignorirati sve SQL)
*.sql